<!-- <app-progress-bar [progress]="counterProgress"></app-progress-bar> -->
<!-- Agrego un templeta de referencia  -->
<!-- <app-countdown #compCountdow [init]="totalCountdown" (onDecrease)="updateProgress($event)"
    (onComplete)="countdownFinish()"></app-countdown>
<div class="initInput">
    <label for="totalCountdown">Init on : </label>
    <input id="totalCountdown" type="text" [(ngModel)]="totalCountdown">
</div> -->
<!-- Creamos el botón para reinicilizar el contador -->
<!-- <button (click)="compCountdow.startCountdown(); counterProgress = 0;">Restaurar</button>
<router-outlet></router-outlet> -->

<div>
    <h1>Timers</h1>
    <app-timer *ngFor = "let time of timers" init="{{time}}" 
    (onClomplete)="logCountdowEnd()" ></app-timer>

    <button class="add" (click)="showAddTimer()">+</button>

    <app-alert-view [hidden]="!isAddTimerVisible">
        <div header>
            My title para la alerta.
        </div>
        <label>Set the number of the seconds for your timer</label>
        <input [(ngModel)]="time" type="number">

        <button (click)="hideAddTimer()" class="cancel-button"> Cancel </button>
        <button (click)="submitAddTimer()">OK</button>
    </app-alert-view>
</div>