<app-progress-bar [progress]="counterProgress"></app-progress-bar>
<!-- Agrego un templeta de referencia  -->
<app-countdown #compCountdow [init]="totalCountdown" (onDecrease)="updateProgress($event)"
    (onComplete)="countdownFinish()"></app-countdown>
<div class="initInput">
    <label for="totalCountdown">Init on : </label>
    <input id="totalCountdown" type="text" [(ngModel)]="totalCountdown">
</div>
<!-- Creamos el botón para reinicilizar el contador -->
<button (click)="compCountdow.startCountdown(); counterProgress = 0;">Restaurar</button>
<router-outlet></router-outlet>